<div id='main-content'>
  <div class='container col-xl-12'>
    
      <div class="col-sm-4">
        <center>
        <%= image_tag("abouttiffany.jpg", class: 'img-rounded') %>
        <div><i>photo by Ashesh Satvedi</i></div></center>
      </div>
        <div class="col-sm-8">
           <center><h1>About Me</h1></center>
          <h3 class='lead'>
            Since I was a young child, I have loved taking pictures.  Early on, I realized how much joy came along with being able to remember special events or friends or loved ones as seen through the eyes of a camera.  Along with a desire to capture the most meaningful moments, I want others to enjoy the art of my photography as much as I do. Thank you for visiting my website, and contact me if you'd like me to capture some special memories for you.</h3>
        </div>        
  </div>
</div>