<div id='main-content'>
  <div class='container'>
    <h1>Contact Me</h1>
    <form class="form form-validation form-contact" method="post" novalidate="novalidate">
  <div class="row">
    <div class="col-sm-12">
 
      <!-- / this content will show after successful form submit -->
      <div class="alert alert-success form-contact-success hidden">Thanks! Your message has been successfully sent!</div>
 
      <!-- / this field will show when some error occurs during form submit -->
      <div class="alert alert-danger form-contact-error hidden">Ooops! There was an error sending your message.</div>
 
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="form-group control-group">
 
        <!-- / input with name - be sure that you're using attribute name="name" on your fields -->
        <input class="form-control" data-rule-required="true" name="name" placeholder="Name" type="text">
 
        <!-- / this field is required for simple anti spam function, don't remove it! -->
        <input class="form-control" name="human" placeholder="Are you human?" style="display: none;" type="text">
 
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group control-group">
 
        <!-- / input with email -->
        <input class="form-control" data-rule-email="true" data-rule-required="true" name="email" placeholder="E-Mail" type="email">
 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="form-group control-group">
 
        <!-- / input with message -->
        <textarea class="form-control" data-rule-required="true" name="message" placeholder="Your message..."></textarea>
 
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
 
      <!-- / submit button - you can modify text in button and also loading text in data-loading-text attribute -->
      <button class="btn btn-contrast btn-block form-contact-submit" data-loading-text="<i class='fa-icon-refresh fa-icon-spin'></i> Sending..." type="submit">
        Send message
      </button>
 
    </div>
  </div>
</form>
  </div>
</div>