<div id='main' role='main'>
  <div class='carousel-image hero-carousel flexslider'>
    <ul class='slides'>
     <!-- single carousel item -->
     <li class='item carousel' id='wedding'>
      <div class='container'>
        <div class='row'>
          <div class='col-lg-12 animate'>

          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

<div id='main-content'>
  <div class='container'>
    <p class='lead text-center'> Capturing moments to be enjoyed for years to come </p>
    <div class='panels-wrapper'>
      <div class='row panels'>
        <div class='col-sm-3 col-xs-6 panel-item'>
          <a class='panel panel-image' href='/portraits'>

            <div class='panel-heading'>
              <%= image_tag("PortraitSmall.png")%>
            </div>
            <div class='panel-body'>
              <h3 class='panel-title'>Portraits</h3>
              <p>Headshots, profile pictures, etc.</p>
            </div>
          </a>
        </div>
        <div class='col-sm-3 col-xs-6 panel-item'>
          <a class='panel panel-image' href='/weddings'>

            <div class='panel-heading'>
              <%= image_tag("WeddingSmall.png")%>
            </div>
            <div class='panel-body'>
              <h3 class='panel-title'>Love & Weddings</h3>
              <p>Engagement announcements, wedding website photos, ceremonies, vow renewal, etc.</p>
            </div>
          </a>
        </div>
        <div class='col-sm-3 col-xs-6 panel-item'>
          <a class='panel panel-image' href='/family'>

            <div class='panel-heading'>
              <%= image_tag("FamilySmall2.png")%>
            </div>
            <div class='panel-body'>
              <h3 class='panel-title'>Family Photo Sessions</h3>
              <p>Family or newborn photos at your home or on-location elsewhere</p>
            </div>
          </a>
        </div>
        <div class='col-sm-3 col-xs-6 panel-item'>
          <a class='panel panel-image' href='/events'>
            <div class='panel-heading' >
              <%= image_tag("EventSmall.png")%>
            </div>
            <div class='panel-body'>
              <h3 class='panel-title'>Events</h3>
              <p>Parties, Conferences, Wedding/Baby Showers, etc.</p>
            </div>
          </a>
        </div>
      </div>
    </div>


  </div>
</div>

<div class='fade' id='scroll-to-top'>
  <i class='fa fa-chevron-up'></i>
</div>