<h1>This is an events TEST!</h1>
<!-- <div class="row">
  <% @CategorizedPhotos.each do |CategorizedPhoto| %>
  <div class="col-md-3">
    <div class="product-box">
      <a href="/products/<%= wedding.id %>"> 
        <img src="<%= wedding.images.first.image_url %>" class="img-responsive">
      </a>
      </div>
    </div>
    <% end %>
  </div> -->

  