<div id='main' role='main'>
  <div class='carousel-contrast hero-carousel carousel-contrast-arrows carousel-contrast-pagination flexslider'>
    <ul class='slides'>
      
      <li id="raya" class='carousel'>
      </li>
      <li id='parents' class='carousel'>
      </li>
      <li id='wedding' class='carousel'>
      </li>
      <li id='bridge' class='carousel'>
      </li>

    </ul>
  </div>



  <div id='main-content'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-12'>
          <p class='lead text-center'> Capturing moments to be enjoyed for years to come </p>
        </div>
      </div>
      <div class='panels-wrapper'>
        <div class='row panels'>
          <div class='col-sm-3 col-xs-6 panel-item'>
            <a class='panel panel-image' >
              
              <div class='panel-heading'><img class="img-responsive-sm" alt="Portraits" width="768" height="300" src="http://placehold.it/768x300" /></div>
              <div class='panel-body'>
                <h3 class='panel-title'>Portraits</h3>
                <p>Headshots, profile pictures, etc.</p>
              </div>
            </a>
          </div>
          <div class='col-sm-3 col-xs-6 panel-item'>
            <a class='panel panel-image' >
              
              <div class='panel-heading'><img class="img-responsive-sm" alt="Weddings" width="768" height="300" src="http://placehold.it/768x300" /></div>
              <div class='panel-body'>
                <h3 class='panel-title'>Weddings & Engagements</h3>
                <p>Engagement announcements, wedding website photos, ceremony, etc.</p>
              </div>
            </a>
          </div>
          <div class='col-sm-3 col-xs-6 panel-item'>
            <a class='panel panel-image' >
             
              <div class='panel-heading'><img class="img-responsive-sm" alt="Family" width="768" height="300" src="http://placehold.it/768x300" /></div>
              <div class='panel-body'>
                <h3 class='panel-title'>Family Photo Sessions</h3>
                <p>Family or newborn photos at your home or on-location elsewhere</p>
              </div>
            </a>
          </div>
          <div class='col-sm-3 col-xs-6 panel-item'>
            <a class='panel panel-image' >
              <!-- <div class='panel-icon'>
                <i class='fa fa-birthday-cake icon'></i>
              </div> -->
              <div class='panel-heading'><img class="img-responsive-sm" alt="Events" width="768" height="300" src="http://placehold.it/768x300" /></div>
              <div class='panel-body'>
                <h3 class='panel-title'>Events</h3>
                <p>Parties, Conferences, Wedding/Baby Showers, etc.</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class='row'>
        <div class='col-sm-12'>
          <div class='page-header page-header-with-icon'>
           <!--  <i class='#'></i> -->
           <h2>
            Recent Photos
          </h2>
        </div>
        <div class='row portfolio-boxes'>
          <div class='col-sm-3 col-xs-6 no-mb-t-xs portfolio-box'>
           
            <!-- <i class='fa fa-search'></i> -->
            <img class="img-responsive center-block" alt="Etiam vestibulum" width="262" height="262" src="https://upload.wikimedia.org/wikipedia/commons/e/eb/Ash_Tree_-_geograph.org.uk_-_590710.jpg" />
          </a>

        </div>
        <div class='col-sm-3 col-xs-6 no-mb-t-xs portfolio-box'>
          <!-- <a class='image-link' href='portfolio_detail.html'> -->
          <!-- <i class='fa fa-link'></i> -->
          <img class="img-responsive center-block" alt="Malesuada" width="262" height="262" src="https://upload.wikimedia.org/wikipedia/commons/e/eb/Ash_Tree_-_geograph.org.uk_-_590710.jpg"/>
        </a>

      </div>
      <div class='col-sm-3 col-xs-6 portfolio-box'>
        <!-- <a class='image-link' href='portfolio_detail.html'> -->
        <!-- <i class='fa fa-search'></i> -->
        <img class="img-responsive center-block" alt="Dictum vulputate" width="262" height="262" src="https://upload.wikimedia.org/wikipedia/commons/e/eb/Ash_Tree_-_geograph.org.uk_-_590710.jpg" />
        <!--  </div> -->

      </a>
    </div>
    <div class='col-sm-3 col-xs-6 portfolio-box'>
      <!-- <a class='image-link' href='portfolio_detail.html'> -->
      <!-- <i class='fa fa-search'></i> -->
      <img class="img-responsive center-block" alt="Semper massa" width="262" height="262" src="https://upload.wikimedia.org/wikipedia/commons/e/eb/Ash_Tree_-_geograph.org.uk_-_590710.jpg" />

    </a>
  </div>
</div>
</div>
</div>

</div>
</div>
</div>
</div>
</div>
</div>
<div class='fade' id='scroll-to-top'>
  <i class='fa fa-chevron-up'></i>
</div>
</div>