<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
   
    <p>You've received a new message through your Photography Website Contact Form.
    </p>
  
    <p>From: <%= @name %></p>

    <p>Email: <%= @email %></p>

    <p>Message: <%= @content %></p>

  </body>
</html>