<div id='main-content'>
  <div class='container'>
    <h1>Create a new category:</h1>

    <%= form_for @category, url: {action: "create"} do |f| %>
    <%= f.text_field :name %>
    <%= f.submit "Create" %>
    <% end %>
  </div>
</div>