<div id='main-content'>
    <div class='container'>

<h1>Admin View</h1>

<p><a href="/photos/new">Upload Photos</a></p>

<p>Delete Photos</p>

<p><a href="/categories/new">Create New Category</a></p>
<p>Edit Categories</p>

<p><a href="/albums/new">Create New Album</a></p>

</div>
</div>
